.pagination {
    position:sticky;
    bottom: 0px;
    display: flex;
    justify-content: center;
    margin-top: 10px;

    &> button {
        border: none;
    }
}

.page-count {
  margin: 0px 10px;
  font-size: x-small;
}