.back-button-bar {
    display: flex;
    
    &>h4 {
        margin: 0;
        margin-left: 8px;
    }

    &>button {
        margin-left: auto; 
        margin-right: 0;
        font-family: cursive;
    }
}

svg {
    margin-top: 3px;
}

.fav-button {
   cursor: default;
   background-color: #DCB51A;
}